
/**************** GLOBAL *******************/
body {
  margin: 0px;
  padding: 0px;
  background: #ffffff;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}
.banner-container, .banner-wrapper {
    position: absolute;
    /*overflow: hidden;*/
}
.banner-wrapper {
    /*border: 1px solid #808080;*/
    left: 0;
    top: 0;
}
sup {
    vertical-align: baseline;
    position: relative;
    top: -.8em;
    line-height: 0;
    font-size: 48%;
}
sup.larger {
    font-size: 60% !important;
    top: -.5em !important;
}
h1 {
    font-size:14px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}
a, a:visited {
    color:#58595b;
}
.no-br {white-space: nowrap !important;;}
.no-bot {margin-bottom:0 !important;}
.no-top {margin-top:0 !important;}
.less-top {margin-top:5px !important;}
.less-bot {margin-bottom:3px !important;}
.extra-space-5 {height:5px !important;}
.extra-space-10 {height:10px !important;}
.extra-space-20 {height:20px !important;}
.ast {
    float:left;
}
.ast-content {
    float:left;
    width:95%;
}
.clear {
    clear: both;
}
p {
    margin: 0 0 3px 0;
    font-size: 9px;
    line-height: 10px;
    font-family: Arial,Helvetica,sans-serif;
}
hr {
    border-top: 2px solid #bbc7da;
    margin:7px 0 10px 0;
    height:2px;border-width:0;color:#bbc7da;background-color:#bbc7da; /* no shadow*/
}
.hang-indent-symbol {
    float: left;
    margin-right: 0px;
}
.hang-indent-content {
    display: table-cell;
}
/**************** Main content *******************/
.code {
    color: #000000;
    font-size: 7px;
    font-family: Arial,Helvetica,sans-serif;
}
.full-pi {
    font-size: 8px;
    color:#58595b;
    padding: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px -2px 2px #CCCCCC;
}
.pi-txt {
    pointer-events: none;
    text-decoration: underline;
}

/**************** ISI *******************/
.isi-content {
    margin: 0;
    overflow-y: scroll;
    color: #000000;
    background-color: #ffffff;
}
.isi-inner {
    padding: 0 10px;
}
.isi-hang-indent {
    padding: 0 10px 0 5px;
}
.isi-content a, .isi-content a:visited {
    color:#4bc0bf;
}
.isi-content h1 {
    color:#4bc0bf;
    font-size: 13px;
    margin: 7px 0 7px 0;
}
.isi-content h2:first-of-type {
    color:#1fbbb1;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 7px 0;
}
.isi-content h2 {
    color:#1fbbb1;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 7px 0;
}
.isi-content p {
    margin-top: 7px;
    margin-bottom: 7px;
}
.isi-content .more-top {margin-top:7px !important;}
.isi-content .more-left {margin-left:7px !important;}
.isi-content .more-bot {margin-bottom:7px !important;}

.isi-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.isi-content li, .isi-content p {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 15px;
    padding: 0px;
}
.isi-content li {
    padding-left: .5em; 
    text-indent: -.5em;
    margin-bottom:5px;
}
.isi-content li:last-of-type {
    margin-bottom:7px;
}
li::before {
    content: "• ";
    color: #1fbbb1;
}
.isi-content li.no-bullet { background: none !important;}
.isi-content sup {
    vertical-align: baseline;
    position: relative;
    top: -.4em;
    font-size: 8px;
}
.isi-content sub {
  vertical-align: baseline;
  position: relative;
  top: 0.3em;
}
.isi-content span.teal {
    color: #1fbbb1;
}
.isi-content .centered {
    margin: 0 auto;
    text-align: center;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #EEEEEE;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #c3d2d5;
}
.isi-content .footnote {
    font-size: 9px;
    line-height: 10px;
}

.boxed-warning {
    border: 1px solid black;
    padding: 0 4px;
}

@media screen and (max-device-width: 320px) {

.isi-content li, .isi-content p {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 2em;
 }
}

/**************** SPRITE SHEET **********/